@media(max-width:740px){
    #nav > li {
        display: block;
}
#header .search-btn{
    display: none;
}
#header .menu-btn{
    float:right;
    padding:0 21px;
    display:block
}
#header .menu-icon{
    color: #fff;
    font-size: 20px;
    line-height: 46px;
    }
}