*{
    padding:0;
    margin:0;
    box-sizing: border-box;
}
.text-white{
    color:#fff !important;
}
html{
    font-family:  Helvetica,Arial, sans-serif;
}
#main{

}

#header{
   height: 46px; 
   background-color: black;
   position: fixed;
   top:0;
   left: 0;
   right: 0;
   z-index: 1;
   
} 
#nav{
    
    display:inline-block;
}
#nav .nav-down{
    font-size: 12px;
}
#nav, .subnav{
    list-style-type: none;
}
#nav > li {
    display: inline-block;
  
}
#nav >li> a{
    color: #fff;
    text-transform: uppercase;
    line-height: 46px;
    
}
#nav li a{
   
    text-decoration: none;
    padding:0 24px;
    /* position:relative; */
    display:inline-block;
}
#nav > li:hover  > a{
    color:black;
    background-color: #ccc;
    display:block;

}
#nav li:hover .subnav{
    display:block;
}
#nav .subnav {
    display:none;
    position: absolute;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0,0,0,0.3);
    min-width: 160px;
    
   
}
#nav .subnav a{
    color: black;
    padding: 0 16px;
    line-height: 38px;
}
#nav .subnav li:hover {
    color:black;
    background-color: #ccc;
    display:block;
    
}
#header .search-btn{
    float:right;
    padding:0 21px;
}
#header .search-icon{
    color: #fff;
    font-size: 20px;
    line-height: 46px;
    }
#header .search-btn:hover{
    background-color: #f44336;
    cursor: pointer;
}
#slider{
    margin-top: 46px;
    padding-top: 50%;
    background: url(https://www.w3schools.com/w3images/chicago.jpg) top center / cover  no-repeat;
    position: relative;
}
#slider .text-content{
    position: absolute;
    color: #fff;
    bottom:48px;
    width: 100%;
    text-align: center;
}
#slider .text-heading{
    font-weight: 500;
    font-size: 24px;
}
#slider .text-des{
    font-size: 15px;
    margin-top: 25px;
}

#content{
}
#content .content-section{
    text-align: center;
    width: 800px;
    margin-left: auto;
    margin-right: auto;
}
#content .content-title{
    font-weight: 500;
    font-size: 30px;
    letter-spacing: 4px;
    padding-top: 64px;
    
}
#content .content-slogan{
    margin-top: 25px;
    font-size: 15px;
    font-style: italic;
    opacity: 0.8;

}
#content .about{
    text-align: justify;
    margin-top: 25px;
    line-height: 1.5;
    font-size: 15px;
}
#content .member-list{
    margin-top:48px ;
    text-align: center;
    overflow: hidden;
    padding-bottom: 64px;
    
}
#content .team{
    float:left;
    width: 33.3333%;
}
#content .band-img{
    width: 154px;
    margin-top: 15px;
    border-radius: 4px;
}
#content .Name{
    font-size: 15px;
}
.tour{
    background-color: black;
    padding-bottom: 84px;
}
.ticket-list {
  background-color: #fff  ;
  text-align: left;
  margin-top: 40px;
  list-style-type: none;
}
.ticket-list>li{
    font-size: 15px;
    padding: 11px 16px;
    border-bottom: #ddd solid;
    color:#757575;
}
.ticket-list .soldout{
    padding:3px 4px;
    margin-left: 16px;
    background-color: red;
    color:#fff;
}
.ticket-list .quanity{
    float: right;
    background-color: #333;
    color: #fff;
    border-radius: 50%;
    width: 24px;
    height: 22px;
    text-align: center;
    line-height: 22px;
    margin-top: -3px;
}
.place-list{
    margin-top: 32px;
    overflow: hidden;
    margin-left:-8px ;
    margin-right: -8px;
}
.place-list .place-item{
    float:left;
    width: 33.33333%;
    padding-left: 8px;
    padding-right: 8px;
   
    
}
.place-item .place-content{
    background-color: #fff;
    text-align: left;
    font-size: 15px;
    line-height: 1.4;
    display: block;
    padding:16px
}

.place-img{
    width: 100%;
    display: block;
   
}
.place-img:hover{
    opacity: 0.6;
}
.place-content .place-header{
    font-size: 15px;
    padding:16px 15px;
}
.place-content .place-date{
    padding-bottom: 15px;
    opacity: 0.6;
}
.place-content .place-des{
    padding-bottom: 15px;

}
.place-content .place-buy-btn{
    
    padding: 8px 16px;
    background-color: black;
    color: #fff;
    text-decoration: none;
    font-size: 15px;
    border:none;
}
.place-content .place-buy-btn:hover{
    background-color: #757575;
    color: #000;
}

#footer{

}
.model{
    position: fixed;
    top:0;
    bottom: 0;
    left: 0;
    right: 0;
    display:none;
    background-color: rgba(0,0,0,0.3);
    align-items: center;
    justify-content: center;
    animation: modelFadein ease 0.4s ;
}
.model-container{
    background-color:#fff;
    width:900px;
    min-height: 200px;
    font-size: 15px;
    position: relative;
}
.model-header{
    background-color:#009688;
    padding: 52px 16px; 
    font-size:30px;
    text-align: center;
    color:#fff


}
.model-close{
    position: absolute;
    right: 0;
    top:0;
    padding:8px;
    cursor: pointer;
    color:#fff;
}
.model-close:hover{
    background-color: rgba(0,0,0,0.3);
    opacity: 0.8;
}
.model-body{
    margin-left: 16px;
    margin-right: 16px;
}
.model-body .model-label{
    display: block;
    margin-bottom: 12px;
    margin-top: 15px;
}
.model-body .model-input{
    width: 100%;
    padding: 10px;
    margin-bottom: 12px;
}
.model-body .model-btn{
    border: none;
    width: 100%;
    text-align: center;
    padding:16px;
    margin-top: 4px;
    background-color:#009688 ;
    text-transform: uppercase;
    color:#fff;
    cursor: pointer;
}
.model-btn:hover{
    opacity: 0.6;
}
.model-help{
    text-align: right;
    display: block;
    padding:16px;
}
.model.open{
    display: flex !important;
}
.model-help>a{
    color:rgb(33, 150, 243);
}
@keyframes modelFadein{
    from{
        transform: translateY(-140px);
        opacity: 0;
    }
    to{
        transform: translateY(0);
        opacity: 1;
    }
}
.contact-content{
    margin-top: 48px;
    padding-bottom: 64px;
    overflow: hidden;

}
.contact-text{
    width:50%;
    float: left;
    padding-left: 12px;
    padding-top: 8px;
    font-size: 18px;
}
.contact-form{
    float:left;
    width: 50%;
    font-size: 15px;
    
}
.contact-input{
    padding: 8px;
    width: 50%;
    float:left;
}
.contact-input >input{
    padding:10px;
    border: 1px #ccc solid;
}
.contact-par{
    font-size: 18px;
    text-align: left;
    line-height: 1.4;
}
.contact-input-mess{
    padding-left: 8px;
    float: left;
    width: 100%;
}
.contact-input-mess > input{
    padding: 10px;
    width: 100%;
    border:1px #ccc solid;
}
.send-btn{
    float: right;
    margin-top: 16px;
   
}
.send-btn > input{
    padding: 12px 16px;
    color:#fff;
    background-color: #000;
    border: none;
    cursor: pointer;
}
.send-btn >input:hover{
    color: #000;
    background-color: #757575;
}
.map img{
    width: 100%;
    filter: grayscale(50%);
}
#footer{
    padding: 64px 16px;
    text-align: center;
}
.social-list{
    
}
.social-list > a{
    text-decoration: none;
    color: #757575;
    font-size: 24px;
    padding: 2px
}
.social-list>a:hover{
    opacity: 0.4;
}
.sponser{
    font-size: 15px;
    margin-top: 15px;
    color: #757575;
    font-style: italic;
}
.sponser > .name{
    color: #757575;
    text-decoration: underline;
}
